notepad .gitignore

.vs/
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.exe
*.obj
*.pdb


# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
*.obj
*.exe
*.dll
*.pdb
*.lib
*.log
*.obj
*.pdb
*.ilk
*.tlog
*.idb
*.exe
*.dll
bin/
out/


# User-specific files
*.user
*.suo
*.vcxproj.user

# Others
*.cache
*.ilk
*.ipch
*.tmp
*.tlog
*.vspscc
*.vssscc
*.ncb


